/*
    Christ Church Cathedral Buttons

    description: Positioning for the Christ Church Cathedral room buttons
    author: Kritan Duwal
 */

/* Source positions */
#spS_ChristChurchCathedral
{
    position: absolute;
    top: 62px;
    left: 315px;
}

/* Receiver positions */
#rpR1_ChristChurchCathedral
{
    position: absolute;
    top: 95px;
    left: 315px;
}

#rpR2_ChristChurchCathedral
{
    position: absolute;
    top: 135px;
    left: 315px;
}

#rpR3_ChristChurchCathedral
{
    position: absolute;
    top: 185px;
    left: 315px;
}

#rpR4_ChristChurchCathedral
{
    position: absolute;
    top: 95px;
    left: 230px;
}

#rpR5_ChristChurchCathedral
{
    position: absolute;
    top: 135px;
    left: 230px;
}

#rpR6_ChristChurchCathedral
{
    position: absolute;
    top: 95px;
    left: 395px;
}

#rpR7_ChristChurchCathedral
{
    position: absolute;
    top: 135px;
    left: 395px;
}

#rpR8_ChristChurchCathedral
{
    position: absolute;
    top: 48px;
    left: 315px;
}