/*
    Christ Church Cathedral Buttons

    description: Positioning for the Christ Church Cathedral room buttons
    author: Kritan Duwal
 */

/* Source positions */
#spS_ChristChurchCathedral
{
    position: absolute;
    top: 46px;
    left: 266px;
}

/* Receiver positions */
#rpR1_ChristChurchCathedral
{
    position: absolute;
    top: 87px;
    left: 266px;
}

#rpR2_ChristChurchCathedral
{
    position: absolute;
    top: 137px;
    left: 266px;
}

#rpR3_ChristChurchCathedral
{
    position: absolute;
    top: 203px;
    left: 266px;
}

#rpR4_ChristChurchCathedral
{
    position: absolute;
    top: 87px;
    left: 151px;
}

#rpR5_ChristChurchCathedral
{
    position: absolute;
    top: 138px;
    left: 151px;
}

#rpR6_ChristChurchCathedral
{
    position: absolute;
    top: 87px;
    left: 375px;
}

#rpR7_ChristChurchCathedral
{
    position: absolute;
    top: 138px;
    left: 375px;
}

#rpR8_ChristChurchCathedral
{
    position: absolute;
    top: 29px;
    left: 266px;
}