/*
    CSAButtons

    description: Positioning for the CSA room buttons
    author: Ben Jordan
    email: bej9038@rit.edu
 */

#spS1_CSA
{
    position: absolute;
    top: 112.8px;
    left: 334px;
}
#spS2_CSA
{
    position: absolute;
    top: 112.8px;
    left: 272px;
}
#spS3_CSA
{
    position: absolute;
    top: 196px;
    left: 255px;
}
#spS4_CSA
{
    position: absolute;
    top: 33px;
    left: 340px;
}

#rpR1_CSA
{
    position: absolute;
    top: 112.5px;
    left: 286px;
}
#rpR2_CSA
{
    position: absolute;
    top: 112.5px;
    left: 229px;
}
#rpR3_CSA
{
    position: absolute;
    top: 172px;
    left: 235.5px;
}
#rpR4_CSA
{
    position: absolute;
    top: 112px;
    left: 388px;
}
#rpR5_CSA
{
    position: absolute;
    top: 33px;
    left: 309px;
}
#rpR6_CSA
{
    position: absolute;
    top: 196px;
    left: 286px;
}


#st1_CSA
{
    position: absolute;
    top: 18px;
    left: 20px;
}
#st2_CSA
{
    position: absolute;
    top: 37px;
    left: 20px;
    width: 20px;
}

#mt1_CSA
{
    position: absolute;
    top: 70px;
    left: 20px;
}
#mt2_CSA
{
    position: absolute;
    top: 89px;
    left: 20px;
    width: 20px;
}

