/*
    Downtown Presbyterian Church Buttons

    description: Positioning for the Downtown Presbyterian Church room buttons
    author: Kritan Duwal
 */

/* Source positions */
#spS_DowntownPresbyterianChurch
{
    position: absolute;
    top: 69px;
    left: 260px;
}

/* Receiver positions */
#rpR1_DowntownPresbyterianChurch
{
    position: absolute;
    top: 107px;
    left: 260px;
}

#rpR2_DowntownPresbyterianChurch
{
    position: absolute;
    top: 160px;
    left: 260px;
}

#rpR3_DowntownPresbyterianChurch
{
    position: absolute;
    top: 225px;
    left: 260px;
}

#rpR4_DowntownPresbyterianChurch
{
    position: absolute;
    top: 160px;
    left: 136px;
}

#rpR5_DowntownPresbyterianChurch
{
    position: absolute;
    top: 160px;
    left: 390px;
}