/*
    First Baptist Church Capitol Hill Buttons

    description: Positioning for the First Baptist Church Capitol Hill room buttons
    author: Kritan Duwal
 */

/* Source positions */
#spS_FirstBaptistChurchCapitolHill
{
    position: absolute;
    top: 36px;
    left: 145px;
}

/* Receiver positions */
#rpR1_FirstBaptistChurchCapitolHill
{
    position: absolute;
    top: 69px;
    left: 145px;
}

#rpR2_FirstBaptistChurchCapitolHill
{
    position: absolute;
    top: 102px;
    left: 145px;
}

#rpR3_FirstBaptistChurchCapitolHill
{
    position: absolute;
    top: 136px;
    left: 145px;
}

#rpR4_FirstBaptistChurchCapitolHill
{
    position: absolute;
    top: 102px;
    left: 50px;
}

#rpR5_FirstBaptistChurchCapitolHill
{
    position: absolute;
    top: 102px;
    left: 240px;
}