/*
    First Presbyterian Church, KY Buttons

    description: Positioning for the First Presbyterian Church, KY room buttons
    author: Kritan Duwal
 */

/* Source position */
#spS_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 48px;
    left: 145px;
}

/* Receiver positions */
#rpR1_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 89px;
    left: 145px;
}
#rpR2_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 140px;
    left: 145px;
}
#rpR3_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 209px;
    left: 145px;
}
#rpR4_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 89px;
    left: 77px;
}
#rpR5_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 140px;
    left: 77px;
}
#rpR6_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 209px;
    left: 77px;
}

#rpR7_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 89px;
    left: 214px;
}
#rpR8_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 140px;
    left: 214px;
}
#rpR9_FirstPresbyterianChurchKY
{
    position: absolute;
    top: 209px;
    left: 214px;
}
