/*
    Holy Trinity Episcopal Church Buttons

    description: Positioning for the Holy Trinity Episcopal Church room buttons
    author: Kritan Duwal
 */

/* Source positions */
#spS_HolyTrinityEpiscopalChurch
{
    position: absolute;
    top: 78px;
    left: 189px;
}

/* Receiver positions */
#rpR1_HolyTrinityEpiscopalChurch
{
    position: absolute;
    top: 152px;
    left: 189px;
}

#rpR2_HolyTrinityEpiscopalChurch
{
    position: absolute;
    top: 227px;
    left: 189px;
}

#rpR3_HolyTrinityEpiscopalChurch
{
    position: absolute;
    top: 306px;
    left: 189px;
}

#rpR4_HolyTrinityEpiscopalChurch
{
    position: absolute;
    top: 376px;
    left: 189px;
}