#appbar
{
    border-radius: 4px;
    font-size: var(--font-size);
    background-color: var(--maincolor);
    color: var(--text-color);
    box-shadow: var(--card-shadow);
}

#drawer
{
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: var(--maincolor);
    border-radius: 4px;
    width: 400px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 180px;
    box-shadow: var(--card-shadow);
    transition: .5s ease all;
    z-index: 1;
}

.roombuttonselected
{
    background-color: var(--maincolor2);
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    outline: none;
    border: none;
    width: 50px;
    height: 25px;
    font-family: Roboto;
    margin-outside: 10px;
}

.roombutton
{
    background-color: var(--maincolor);
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    outline: none;
    border: none;
    width: 50px;
    height: 25px;
    font-family: Roboto;
    margin-outside: 10px;
}

.roombutton:hover
{
    background-color: var(--hovercolor);
}

#roomselect
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top:40px;
}

#formatselect
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top:70px;
}

#convselect
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top:100px;
}

#output
{
    top: 120px;
    position: relative;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: var(--maincolor2);
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    height: 10px;
}

#output::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 10px;
    background-color: var(--text-color);
    box-shadow: var(--card-shadow);

}

#olabel
{
    position: relative;
    font-family: Roboto;
    top: 114px;
}

body
{
    /*display: flex;*/
    /*height: 100vh;*/
}

.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7;
}

#RSBui
{
    width: 478px;
    height: 255px;
    background-image: url("../Images/RSB/Image Rotation 4.png");
    background-size: 480px;
}

#CSAui
{
    width: 478px;
    height: 280px;
    background-image: url("../Images/CSA/Rotation.png");
    background-size: 478px 255px;
}

.ui
{
    display: flex;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    position: relative;
    top: 101vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}

#whitespace
{
    position: relative;
    top: 102vh;
    height: 41.956px;
}

.play
{
    position: fixed;
    z-index: 1;
    background-color: var(--maincolor);
    color: var(--text-color);
    font-size: 72px !important;
    height: 80px;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: var(--card-shadow);
    bottom: 48px;
    right: 48px;
}

.play:hover
{
    background-color: var(--maincolor2);
    transition: .25s ease all;
}
.material-icons:hover
{
    color: var(--maincolor) !important;
}

.stop
{
    position: fixed;
    z-index: 1;
    background-color: var(--maincolor);
    font-size: 72px !important;
    height: 80px;
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: var(--card-shadow);
    bottom: 48px;
    right: 48px;
}

.stop:hover
{
    background-color: var(--warning);
    transition: .25s ease all;
}

#view
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    height: 77%;
    width: 93%;
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    background-color: var(--text-color);
}

#error
{
    position: absolute;
    width: 300px;
    height: 50px;
    top:54%;
    left: 50%;
    margin-left: -150px;
    margin-top: -25px;
    display: none;
    text-align: center;
    color: var(--warning);
    font-size: 18px;
    font-family: Roboto;
    font-weight: lighter;
}
