/*
    Monastery Immaculate Conception Buttons

    description: Positioning for the Monastery Immaculate Conception room buttons
    author: Kritan Duwal
 */

/* Source position */
#spS_MonasteryImmaculateConception
{
    position: absolute;
    top: 161px;
    left: 92px;
}

/* Receiver positions */
#rpR1_MonasteryImmaculateConception
{
    position: absolute;
    top: 211px;
    left: 92px;
}
#rpR2_MonasteryImmaculateConception
{
    position: absolute;
    top: 248px;
    left: 92px;
}
#rpR3_MonasteryImmaculateConception
{
    position: absolute;
    top: 282px;
    left: 92px;
}
#rpR4_MonasteryImmaculateConception
{
    position: absolute;
    top: 317px;
    left: 92px;
}
#rpR5_MonasteryImmaculateConception
{
    position: absolute;
    top: 211px;
    left: 21px;
}
#rpR6_MonasteryImmaculateConception
{
    position: absolute;
    top: 211px;
    left: 165px;
}
