/*
    Our Lady of Guadalupe Buttons

    description: Positioning for the Santuario de Nuestra Senora de Guadalupe room buttons
    author: Kritan Duwal
 */

/* Source position */
#spS_OurLadyOfGuadalupe
{
    position: absolute;
    top: 31px;
    left: 124px;
}

/* Receiver positions */
#rpR1_OurLadyOfGuadalupe
{
    position: absolute;
    top: 67px;
    left: 124px;
}
#rpR2_OurLadyOfGuadalupe
{
    position: absolute;
    top: 110px;
    left: 124px;
}
#rpR3_OurLadyOfGuadalupe
{
    position: absolute;
    top: 158px;
    left: 124px;
}
#rpR4_OurLadyOfGuadalupe
{
    position: absolute;
    top: 204px;
    left: 124px;
}
#rpR5_OurLadyOfGuadalupe
{
    position: absolute;
    top: 67px;
    left: 50px;
}
#rpR6_OurLadyOfGuadalupe
{
    position: absolute;
    top: 67px;
    left: 194px;
}
