/*
    RSBButtons

    description: Positioning for the RSB room buttons.
    author: Ben Jordan
    email: bej9038@rit.edu
 */

#spS1_RSB
{
    position: absolute;
    top: 135px;
    left: 264.55px;
}
#spS3_RSB
{
    position: absolute;
    top: 121px;
    left: 64px;
}
#spS5_RSB
{
    position: absolute;
    top: 121px;
    left: 430px;
}
#spS7_RSB
{
    position: absolute;
    top: 200px;
    left: 264.55px;
}

#rpR1_RSB
{
    position: absolute;
    top: 121px;
    left: 264.55px;
}
#rpR2_RSB
{
    position: absolute;
    top: 121px;
    left: 165px;
}
#rpR3_RSB
{
    position: absolute;
    top: 121px;
    left: 50px;
}
#rpR4_RSB
{
    position: absolute;
    top: 121px;
    left: 345px;
}

#st1_RSB
{
    position: absolute;
    top: 18px;
    left: 20px;
}
#st2_RSB
{
    position: absolute;
    top: 37px;
    left: 20px;
    width: 20px;
}
