/*
    St Augustine Isleta Buttons

    description: Positioning for the St. Augustine Catholic Church room buttons
    author: Kritan Duwal
 */

/* Source position */
#spS_StAugustineIsleta
{
    position: absolute;
    top: 25px;
    left: 74px;
}

/* Receiver positions */
#rpR1_StAugustineIsleta
{
    position: absolute;
    top: 69px;
    left: 74px;
}
#rpR2_StAugustineIsleta
{
    position: absolute;
    top: 119px;
    left: 74px;
}
#rpR3_StAugustineIsleta
{
    position: absolute;
    top: 173px;
    left: 74px;
}
#rpR4_StAugustineIsleta
{
    position: absolute;
    top: 223px;
    left: 74px;
}
#rpR5_StAugustineIsleta
{
    position: absolute;
    top: 262px;
    left: 74px;
}
