/*
    St Augustine Isleta Buttons

    description: Positioning for the St. Augustine Catholic Church room buttons
    author: Kritan Duwal
 */

/* Source position */
#spS_StAugustineIsleta
{
    position: absolute;
    top: 29px;
    left: 85px;
}

/* Receiver positions */
#rpR1_StAugustineIsleta
{
    position: absolute;
    top: 80px;
    left: 85px;
}
#rpR2_StAugustineIsleta
{
    position: absolute;
    top: 139px;
    left: 85px;
}
#rpR3_StAugustineIsleta
{
    position: absolute;
    top: 202px;
    left: 85px;
}
#rpR4_StAugustineIsleta
{
    position: absolute;
    top: 259px;
    left: 85px;
}
#rpR5_StAugustineIsleta
{
    position: absolute;
    top: 305px;
    left: 85px;
}
