/*
    St Augustine Isleta Buttons

    description: Positioning for the St. Augustine Catholic Church room buttons
    author: Kritan Duwal
 */

/* Source position */
#spS_StAugustineIsleta
{
    position: absolute;
    top: 31px;
    left: 87px;
}

/* Receiver positions */
#rpR1_StAugustineIsleta
{
    position: absolute;
    top: 82px;
    left: 87px;
}
#rpR2_StAugustineIsleta
{
    position: absolute;
    top: 141px;
    left: 87px;
}
#rpR3_StAugustineIsleta
{
    position: absolute;
    top: 204px;
    left: 87px;
}
#rpR4_StAugustineIsleta
{
    position: absolute;
    top: 261px;
    left: 87px;
}
#rpR5_StAugustineIsleta
{
    position: absolute;
    top: 307px;
    left: 87px;
}
