/*
    Church Street United Methodist Church Knoxville Buttons

    description: Positioning for the Church Street United Methodist Church room buttons
    author: Kritan Duwal
 */

/* Source positions */
#spS_UnitedMethodistChurch
{
    position: absolute;
    top: 36px;
    left: 196px;
}

/* Receiver positions */
#rpR1_UnitedMethodistChurch
{
    position: absolute;
    top: 98px;
    left: 196px;
}

#rpR2_UnitedMethodistChurch
{
    position: absolute;
    top: 176px;
    left: 196px;
}

#rpR3_UnitedMethodistChurch
{
    position: absolute;
    top: 260px;
    left: 196px;
}

#rpR4_UnitedMethodistChurch
{
    position: absolute;
    top: 345px;
    left: 196px;
}